@model  WebApplication1.Models.Test

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@using ()
<p>學號:</p><input type="text">
<p>姓名:</p><input type="text">
<p>性別:</p><input type="text">
<p>生日:</p><input type="text">
<p>年齡:</p><input type="text">




